<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ticket</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <a href="/">Home</a> 
    <a href="/flights/new">Add New Flight</a>
    <a href="/flights">View All Flights</a> 
  </nav>
    <h1>Purchase Ticket:</h3>
    <form action="/flights/<%= flight._id %>/addTicket" method="POST">
      <input name="price" placeholder="Enter Price">
      <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="A-F 1-9">
      <input type="submit" value="Add Seat">
    </form>
</body>
</html>